:root { 
--black_900_7f:#0000007f; 
--blue_800_a5:#084fcda5; 
--white_A700_b2:#ffffffb2; 
--white_A700_3a:#ffffff3a; 
--black_900_b2:#000000b2; 
--blue_A400:#2875fb; 
--gray_900_99:#12121299; 
--red_800:#c92a2a; 
--white_A700_90:#ffffff90; 
--green_901:#0a5a09; 
--green_900:#008000; 
--black_900_3f:#0000003f; 
--red_900_99:#b61d1d99; 
--green_500:#52de4f; 
--gray_900_4f:#1212124f; 
--green_A700:#03b400; 
--white_A700_ad:#ffffffad; 
--deep_purple_A201:#9747ff; 
--deep_orange_300:#ff9c5a; 
--deep_purple_A200:#7b61ff; 
--blue_800_7f:#084fcd7f; 
--red_A701:#e40f0f; 
--red_A700:#ff0000; 
--gray_600:#717171; 
--gray_900_68:#12121268; 
--gray_900_bf:#121212bf; 
--gray_400:#c4c4c4; 
--blue_700:#3a73d7; 
--gray_900_ba:#121212ba; 
--gray_50_af:#fafafaaf; 
--gray_900_cc1:#112222cc; 
--gray_800:#414141; 
--gray_801:#4c4c4c; 
--gray_200:#f0f0f0; 
--blue_800_cc:#0950cdcc; 
--black_900_99:#00000099; 
--white_A700_26:#ffffff26; 
--indigo_A700_99:#0500fc99; 
--blue_A100_19:#85abed19; 
--gray_900_72:#12121272; 
--blue_100:#cedcf5; 
--white_A700:#ffffff; 
--gray_51:#fafafa; 
--gray_900_cc:#121212cc; 
--blue_A200_3a:#558ae53a; 
--green_800:#2e812c; 
--gray_50:#fcfcfc; 
--amber_A400:#ffcc00; 
--white_A700_cc:#ffffffcc; 
--gray_50_d6:#fafafad6; 
--black_900:#000000; 
--gray_900_e5:#121212e5; 
--blue_800_d3:#084fcdd3; 
--deep_orange_400:#ff8533; 
--black_900_26:#00000026; 
--gray_501:#9c9c9c; 
--gray_502:#a5a5a5; 
--blue_800_b7:#084fcdb7; 
--lime_A700_99:#c8d90099; 
--blue_800_90:#0950cd90; 
--gray_500:#9d9d9d; 
--gray_901:#231f20; 
--blue_800:#0950cd; 
--orange_A700:#ff6600; 
--gray_503:#a0a0a0; 
--gray_900:#121212; 
--gray_900_89:#12121289; 
--gray_504:#9e9e9e; 
--bluegray_100:#d9d9d9; 
--pink_A400_99:#ff005b99; 
--gray_50_70:#fafafa70; 
--gray_900_7c:#1212127c; 
--red_A100_99:#ff868699; 
--blue_800_aa:#084fcdaa; 
--gray_300:#e6e6e6; 
--orange_50:#fff0e6; 
--black_900_33:#00000033; 
--gray_900_3a:#1212123a; 
--gray_900_7f:#1212127f; 
--gray_900_b2:#121212b2; 
--bluegray_101:#d0d0d0; 
--gray_900_93:#12121293; 
--indigo_900:#002e80; 
--gray_900_91:#12121291; 
}